@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans/OpenSans.ttf') format('truetype');
}

@font-face {
    font-family: OpenSans-Extrabold;
    src: url('../fonts/OpenSans-Extrabold/OpenSans-Extrabold.ttf') format('truetype');
}

@font-face {
    font-family: OpenSans-Italic;
    src: url('../fonts/OpenSans-Italic/OpenSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: OpenSans-Light;
    src: url('../fonts/OpenSans-Light/OpenSans-Light.ttf') format('truetype');
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url('../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf') format('truetype');
}

body {
    font: 16px "OpenSans", sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

.btn {
    display: inline-block;

    font: 16px "OpenSans-Semibold";

    line-height: 50px;
    padding: 0 75px;

    border: 1px solid #65696d;
    border-radius: 10px;

    color: #fff;
    text-transform: uppercase;
}


.btn:hover {
    background-color: #f7600e;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


/*-----INTO------*/

.intro {

    width: 100%;
    height: 100vh;
    background: url('../img/intro/main-bg.jpg') 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    background-blend-mode: darken;

    color: #fff;
}

.intro-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 50px;
}

.intro-header__logo {
    display: block;

    overflow: hidden;

    width: 190px;
    height: 20px;

    padding-left: 30px;
}

.intro-header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 15px;
}

.intro-header__menu {
    font: 16px "OpenSans", sans-serif;


}


.intro-header__burger {
    display: block;
    position: relative;

    padding-top: 12px;
    padding-left: 10px;

    width: 25px;
    height: 25px;

}

.intro-header__burger span, .intro-header__burger span::before, .intro-header__burger span::after {
    position: absolute;

    width: 25px;
    height: 2px;

    background-color: #fff;
}

.intro-header__burger span::before, .intro-header__burger span::after {
    content: '';
}

.intro-header__burger span::before {
    transform: translateY(-7px);
}

.intro-header__burger span::after {
    transform: translateY(7px);
}


.intro-info {
    text-align: center;
    margin-top: 20%;
}

.intro-info h2 {
    line-height: 17px;
    font: 70px "OpenSans-Extrabold";

    text-transform: uppercase;
}

.intro-info p {
    line-height: 40px;
    font: 25px "OpenSans", sans-serif;
    margin-bottom: 60px;
}

.intro-info span {
   color: #f7600e;
}

.intro-info__button:nth-child(2n) {
    padding: 0 60px;
    margin-left: 20px;
}

.intro__arrow {
    display: block;

    margin: 9% auto 50px auto;
    width: 33px;
    height: 33px;
    background: url('../img/intro/arrow.png');
}

/*------SERVICES------*/

.services {
    text-align: center;
}

.services-list {
    display: flex;
    justify-content: space-around;
    align-items: center;


    padding: 100px 0px 70px 0px;
}

.services-list__item {
    width: 180px;
    height: 310px;
    
}

.services-list__icon {
    width: 155px;
    height: 150px;

    border: 1px solid #65696d;
    border-radius: 50%;

    margin: 0 auto;
}

.services-list__icon img {
    padding-top: 40px;
}

.services-list__office {
    margin: 30px 0px 20px 0px;

    text-transform: uppercase;
    line-height: 40px;
    font: 16px "OpenSans-Semibold", sans-serif;
}

.services-list__info {
    line-height: 26px;
    font: 14px "OpenSans", sans-serif;
    color: #65696d;
}

/*------SUBSCRIPTION------*/

.subscription {
    padding: 25px 0px 25px 0px;

    background: url("../img/subscription.jpg") 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    text-align: center;
}

.subscription-form {
    margin: 100px 0px 100px 0px;
}

.subscription-form__input {
    width: 565px;
    height: 50px;

    margin-right: 45px;
    border-radius: 10px;
    padding-left: 25px;

    outline: none;
    border: 1px solid #fff;

    line-height: 40px;
    font: 16px "OpenSans-Light", sans-serif;
}

.subscription-form__button {
    background-color: #f7600e;
}


/*------OUR-WORKS-----*/

.our-works {
    margin: 100px 0px 100px 0px;
    text-align: center;
}

.our-works__title {
    line-height: 40px;
    text-transform: uppercase;

    font: 35px "OpenSans-Semibold", sans-serif;

    color: #3b434c;
}

.our-works__title span {
    color: #f7600e;
}

.our-works__info {
    margin: 30px 0px 100px 0px;

    line-height: 30px;

    font: 16px "OpenSans", sans-serif;

    color: #65696d;
}

.our-works-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.our-works-list__item {
    text-align: center;
}

.our-works-list__item:nth-child(4) {
    margin-top: 25px;
}

.our-works-list__item:nth-child(5) {
    margin-top: 25px;
}

.our-works-list__item:nth-child(6) {
    margin-top: 25px;
}

.our-works__button {
    margin-top: 100px;
    color: #3b434c;
}


.our-works-list__item {
    position: relative;
}

.our-works-list__item:hover .hover-block {
    display: block;
}

.hover-block {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #f7600e;
    color: #fff;
    opacity: 0.9;

    padding: 50px 30px 50px 30px;
}

.hover-block h3 {
    line-height: 40px;
    font: 25px "OpenSans-Semibold", sans-serif;

    text-transform: uppercase;
}

.hover-block p {
    margin: 30px 0px 50px 0px;
    line-height: 26px;
    font: 16px "OpenSans", sans-serif;
}

.our-works__show-project:hover {
    color: #f7600e;
    background-color: #fff;
}


/*-------SLIDER--------*/
.slider {
    padding: 25px 0px 25px 0px;
    background: url('../img/slider-bg.jpg') 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    text-align: center;
    color: #fff;
}

.slider_list {
    margin: 100px 0px 100px 0px;
}

.slider_list__item div {
    margin: 0px auto 40px auto;

    width: 120px;
    height: 120px;

    border-radius: 50%;
    background: url('../img/slider_item.png');
}

.slider_list__item p {
    line-height: 40px;
    font: 25px "OpenSans-Italic", sans-serif;
}

.slider_list__item span {
    display: inline-block;

    margin-top: 40px;
    line-height: 40px;
    font: 18px "OpenSans-Semibold", sans-serif;
}

/*-------OUR-TEAM------*/
.our-team {
    margin: 100px 0px 100px 0px;
    text-align: center;
}

.our-team__title {
    line-height: 40px;
    text-transform: uppercase;

    font: 35px "OpenSans-Semibold", sans-serif;

    color: #3b434c;
}

.our-team__title span {
    color: #f7600e;
}

.our-team__info {
    margin: 30px 0px 100px 0px;

    line-height: 30px;

    font: 16px "OpenSans", sans-serif;

    color: #65696d;
}


/*-------SAY-HELLO------*/
.say-hello {
    padding: 100px 0px 80px 0px;
    background: url('../img/city.jpg') 50% 0 no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    text-align: center;
    color: #fff;
}


.say-hello__title {
    line-height: 40px;
    text-transform: uppercase;

    font: 35px "OpenSans-Semibold", sans-serif;

}

.say-hello__title span {
    color: #f7600e;
}

.say-hello__info {
    margin: 30px 0px 100px 0px;

    line-height: 30px;

    font: 16px "OpenSans", sans-serif;
}

.say-hello-form__button {
    background-color: #f7600e;
}

.say-hello-form__input {
    width: 565px;
    height: 50px;

    margin-right: 45px;
    border-radius: 10px;
    padding-left: 25px;

    outline: none;
    border: 1px solid #fff;

    line-height: 40px;
    font: 16px "OpenSans-Light", sans-serif;
}

.say-hello-form__input[name="email"] {
    width: 400px;
}

.say-hello-form__input[name="subject"] {
    width: 400px;
}

.say-hello-form__input[name="message"] {
    width: 830px;
    height: 200px;
}

.say-hello .flex-container {
    width: 835px;
    margin: 0px auto 30px auto;
}

.say-hello-social {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-right: 50px;
}

.say-hello-social__item a {
    display: block;
    width: 42px;
    height: 42px;

}

.say-hello-social__item:nth-child(1) {
    background: url('../img/social/facebook.png');
}

.say-hello-social__item:nth-child(2) {
    background: url('../img/social/twitter.png');
}

.say-hello-social__item:nth-child(3) {
    background: url('../img/social/google.png');
}

.say-hello-social__item:nth-child(4) {
     background: url('../img/social/pink.png');
}

.say-hello-social__item:nth-child(5) {
    background: url('../img/social/be.png');
}


/*-------FOOTER-------*/
.footer {
    padding: 40px 0px 40px 0px;
    background-color: #3b434c;
    color: #fff;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side img {
    width: 78px;
    height: 15px;

}

.footer__copyright {
    line-height: 40px;
    font: 16px "OpenSans", sans-serif;
}

.footer__designed {
    line-height: 40px;
    font: 16px "OpenSans", sans-serif;

    margin-right: 5px;
}